<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Daniel's sample app", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path, id: "text-red" %></li>
            <li><%= link_to "Help",   help_path, id: "text-gold" %></li>
            <li><%= link_to "Log in", login_path, id: "text-green" %></li>
          </ul>
        </nav>
    </div>
</header>